<div id="print">
    <h6>{{recipe.title}}</h6>
    <img id="hero" src="/public/images/recipes/{{recipe.id}}/thumb1.jpg" />
    <div id="text">
        <div id="text-inner">
            <div><span>Submitted By:</span> {{recipe.writer}}</div>
            <div><span>Section:</span> {{recipe.writer}}</div>
            <div><span>Cook Time:</span> {{recipe.cooktime}}</div>
            <div><span>Serves:</span> {{recipe.serves}}</div>
        </div>
        
    </div>
    <div id="printdirections" directions></div>
</div>