<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Bacon Wrapped Chicken Skewers</div>
<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/bacon-wrapped-skewers/hero1.jpg" /></li>
                <li><img src="/public/images/bacon-wrapped-skewers/hero2.jpg" /></li>
                <li><img src="/public/images/bacon-wrapped-skewers/hero3.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 30 minutes</div>
            <div><span>Serves:</span> 4 or 5 Skewers</div>
        </div>
        <div id="recipe-writer">
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Melissa Griffiths
            </div>
            <div class="bio">
                Food Writer, <a href="http://www.blessthismessplease.com/2014/05/brown-sugar-bacon-wrapped-chicken-skewers.html" target="_blank">Bless This Mess</a>
            </div>
        </div>
    </div>
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/bacon-wrapped-skewers/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
