<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Oatmeal Cookies</div>
<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/oatmeal-cookies/hero1.jpg" /></li>
                <li><img src="/public/images/oatmeal-cookies/hero2.jpg" /></li>
                <li><img src="/public/images/oatmeal-cookies/hero3.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 15 minutes</div>
            <div><span>Serves:</span> 1 Dozen Cookies</div>
        </div>
        <div id="recipe-writer" class="profile-pic">
            <img src="/public/images/oatmeal-cookies/writer.png" />
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Matty DuTrumble
            </div>
            <div class="bio">
                Executive Chef, <a href="http://company.zynga.com/" target="_blank">Zynga</a>
            </div>
        </div>
    </div>
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/oatmeal-cookies/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
