<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Pumpkin Risotto with Gorgonzola + Walnuts</div>



<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/pumpkin-risotto/hero1.jpg" /></li>
                <li><img src="/public/images/pumpkin-risotto/hero2.jpg" /></li>
                <li><img src="/public/images/pumpkin-risotto/hero3.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 1 hour</div>
            <div><span>Serves:</span> 4 - 6</div>
        </div>
        <div id="recipe-writer" class="profile-pic marc">
            <img src="/public/images/pumpkin-risotto/writer.png" />
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Marc Murphy
            </div>
            <div class="bio">
                <span>Chef &amp; regular judge on</span>
                <br/>Food Network's hit show, <a href="http://www.foodnetwork.com/chefs/marc-murphy/bio.html" target="_blank">Chopped</a>
            </div>
        </div>
    </div>
    
</div>
<div id="recipe-subtitle" class="marc-subtitle">
    Marc Murphy, Chef + Owner of Benchmarc Restaurants & regular judge on Food Network’s hit show <a href="http://www.foodnetwork.com/chefs/marc-murphy/bio.html" target="_blank">Chopped</a>, cooks up<br/>a FarmVille-inspired recipe to support <a target="_blank" href="http://www.nokidhungry.org/">No Kid Hungry</a>. You can help too by playing <a target="_blank" href="https://64424.api-01.com/serve?action=click&publisher_id=64424&site_id=52190&offer_id=315900&site_id_android=51908&site_id_ios=52190&site_id_web=55330&site_id_fire=58650&advertiser_sub_campaign=FM_1_1_emailz_259_all_both_CPC_farmville-to-table">FarmVille 2</a> on Facebook! Contribute<br/>by purchasing a limited edition crop packet, including pumpkin, the key ingredient from Marc’s recipe.
</div>
<div class="wrap">
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/pumpkin-risotto/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
