<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Strawberry Balsamic Thyme Jam</div>
<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/strawberry-balsamic-thyme-jam/hero1.jpg" /></li>
                <li><img src="/public/images/strawberry-balsamic-thyme-jam/hero2.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 1 hour</div>
            <div><span>Serves:</span> 6 cups</div>
        </div>
        <div id="recipe-writer">
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Rebecca Lindamood
            </div>
            <div class="bio">
                Food Writer, <a href="http://www.foodiewithfamily.com/2011/06/29/strawberry-balsamic-thyme-freezer-jam/" target="_blank">Foodie with Family</a>
            </div>
        </div>
    </div>
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/strawberry-balsamic-thyme-jam/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
