<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Strawberry Shortcake</div>
<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/strawberry-shortcake/hero1.jpg" /></li>
                <li><img src="/public/images/strawberry-shortcake/hero2.jpg" /></li>
                <li><img src="/public/images/strawberry-shortcake/hero3.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 1 hour</div>
            <div><span>Serves:</span> 1 Cake, 24 Servings</div>
        </div>
        <div id="recipe-writer">
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Anna van Tonder
            </div>
            <div class="bio">
                Food Writer, <a href="http://www.annadishes.com/strawberry-shortcake-cupcakes-with-whipped-cream-buttercream-frosting/#sthash.L82ebLQy.dpbs" target="_blank">Anna Dishes</a>
            </div>
        </div>
    </div>
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/strawberry-shortcake/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
