<div id="recipe-title"><div class="wrap"><a href="/"><img src="/public/images/back.png" /></a></div>Stuffed Red Potatoes</div>
<div class="wrap">
    <div id="recipe-gallery">
        <div id="slideshow-wrap">
            <ul>
                <li><img src="/public/images/stuffed-red-potatoes/hero1.jpg" /></li>
                <li><img src="/public/images/stuffed-red-potatoes/hero2.jpg" /></li>
                <li><img src="/public/images/stuffed-red-potatoes/hero3.jpg" /></li>
            </ul>
        </div>
        
        <div id="recipe-time">
            <div><span>Cook Time:</span> 38 minutes</div>
            <div><span>Serves:</span> 20 Potatoes</div>
        </div>
        <div id="recipe-writer">
            <div class="by">
                Recipe by
            </div>
            <div class="writer">
                Meagan Wied
            </div>
            <div class="bio">
                Food Writer, <a href="http://www.azestybite.com/stuffed-red-potatoes/" target="_blank">A Zesty Bite </a>
            </div>
        </div>
    </div>
    <div id="recipe-text">
        <div id="directions">
            <img src="/public/images/stuffed-red-potatoes/directions.jpg" />
            <ul id="social">
                <li><a class="fb"></a></li>
                <li><a class="twitter"></a></li>
                
                <li><a class="pinterest"></a></li>
                <li><a class="email"></a></li>
            </ul>
        </div>
    </div>
</div>
